</br>
</br>
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy; NWMSU Web Apps Team Fall 2016</p>
<p class="text-muted">Get the code at <a href="https://bitbucket.org/56316f5/jce5" target="_blank">https://bitbucket.org/56316f5/jce5</a></p>
</div>
</footer>


<!-- This model is managed by Team 5-4 
Harish Babu Achanta
Hari Kiran Akunuri
Mounika Naidu Chanati-->