<!-- This model is managed by Team 5-4 
Harish Babu Achanta
Hari Kiran Akunuri
Mounika Naidu Chanati-->

<br/>
<br/>
<h2>Confirm deletion of waterproofing primer product</h2>
<br/>
<br/>
<table class="table table-hover table-bordered">
	<thead>
		<th> ID : </th>
		<th> Square Foot : </th>
		
	</thead>
	<tbody>
		<tr>
			<td> <%=  estimatePartFootage._id %> </td>
			<td> <%=  estimatePartFootage.sqft %></td>
			
		</tr>
	</tbody>
</table>


<br/>
<form method="get" action="/estimatePartFootage">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartFootage/delete/<%= estimatePartFootage._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>