<br/>
<br/>
<h2>Details for Footage</h2>
<br/>
<br/>
<table class="table table-hover table-bordered">
	<thead>
		<th> ID : </th>
		<th> Square Foot : </th>
		
	</thead>
	<tbody>
		<tr>
			<td> <%=  estimatePartFootage._id %> </td>
			<td> <%=  estimatePartFootage.sqft %></td>
			
		</tr>
	</tbody>
</table>

<br/>
<form method="get" action="/estimatePartFootage">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>