
<div class="container">
 <h2>Water Proofing Cost</h2>


<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
      <th>Product Type</th>
      <th>usesUrethane</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
         <tr>
            <td><%=  estimatePartWaterproofing._id %></td>
            <td><%=  estimatePartWaterproofing.productType %></td>
            <td><%=  estimatePartWaterproofing.usesUrethane %></td>
            <td><%=  estimatePartWaterproofing.subtotal %></td>
         </tr>
</tbody>
</table>
</div>
<form method="get" action="/estimatePartWaterproofing">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>