<h2>Create a new Aggregate Parts estimate</h2></br>
    <br/>

    <br/>

    <p>There are currently
        <%= estimatePartAggregates.query.length %> estimated part aggregates. </p>
    <br/>
    <% 
    maxID=0; 
    for (var i=0; i<estimatePartAggregates.query.length; i++) {
        if(estimatePartAggregates.query[i]._id > maxID) {
            maxID=estimatePartAggregates.query[i]._id;
            }
    }
    %>
        <div class="content">
            <div>
                <form name="estimatePartAggregate" method="POST" action="/estimatePartAggregate/save" + _id.value>

                    <div class="form-group" id=frm>
                        <label for="_id">ID</label>
                        <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
                    </div>


                    <div class="form-group">
                    <label for="isUsed">Uses Aggregate?</label>
                        <input type="checkbox" class="form-control" id="isUsed"  va name="isUsed" >
                    </div>

                    <div class="form-group">
                    <label for="aggregateTypeSelection">Aggregate Type</label>
                    <div class="funkyradio">
                            <div class="funkyradio-primary">
                                <input type="radio" value="Sand" name="aggregateTypeSelection" id="Sand" checked/>
                                <label for="Sand">Sand</label>
                            </div>
                            <div class="funkyradio-success">
                                <input type="radio" value="Quartz" name="aggregateTypeSelection" id="Quartz" />
                                <label for="Quartz">Quartz</label>
                            </div>
                            <div class="funkyradio-warning">
                                <input type="radio" value="Flake" name="aggregateTypeSelection" id="Flake" />
                                <label for="Flake">Flake</label>
                            </div>
                            <div class="funkyradio-danger">
                                <input type="radio" value="Glass Beads" name="aggregateTypeSelection" id="Glass" />
                                <label for="Glass">Glass Beads</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="aggregateMaterialSelection">Aggregate Material Selection</label>
                        <select class="form-control" name="aggregateMaterialSelection">
                        <% 
                            var data = aggregateMaterials.query;
                            for( var i=0; i<data.length; i++){ %>
                                <option value="<%= data[i]._id %>"> <%= data[i].name %> </option>
                            <% } %>
                        </select>
                        <!-- <input type="text" class="form-control" id="aggregateMaterialSelection" name="aggregateMaterialSelection" /> -->
                    </div>

                    <div class="form-group">
                        <label for="coverageSqFt">Coverage Square per feet</label>
                        <input type="number" class="form-control" id="coverageSqFt" name="coverageSqFt" value="200" />
                    </div>

                    <div class="form-group">
                        <label for="subtotal">Cost</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" />
                    </div>

                    <input type="submit" value="Post entry" class="btn btn-danger">
            </div>
            </form></br>
             <form method="get" action="/estimatePartAggregate">
               <input type="submit" value="Return to list" class="btn btn-caution" />
             </form>
<!--- The view is maintained by team R9 -->
<!--- Avyakta Pallerla -->
<!--- Sri Sai Ravali Chinthareddy-->
    
