
<% console.log(estimatePartFloorings.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartFloorings.query.length %> entries. <br/>
<a href="create.ejs">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
           <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartFloorings.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartFloorings.query[i].subtotal %></td>
            <td>Delete  Details  Edit</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
<!-- This part is managed by 05-05 --!>
<<<<<<< HEAD
<!-- Supriya Nakerikanti --!>
<!-- Saravana Palaniyappan --!>
=======
<!-- Saravana Palaniyappan --!>
<!-- Lakshmi Supriya --!>


>>>>>>> d8c94698ebb1872afe5b5e6c4859b8746cfff6a2
