<div class="form-group">
<label for="comment">Comment</label>
<textarea class="form-control" id="comment" name="comment" rows="3" required>Great client - looking forward to this job!</textarea>
</div>