<div class="form-group">
<label for="footage">Square Footage</label>
<input type="number" class="form-control" id="footage" name="footage" min=0 max=500000 required value=2000>
</div>

<!-- This model is managed by Team 5-4 
Harish Babu Achanta
Hari Kiran Akunuri
Mounika Naidu Chanati-->