<!-- This model is managed by Team 5-11 --> 
<!--  Ravva, Shanmukha Manikantha Surya Vamsi -->
<!-- Avasarala, Venkata Bhardwaj -->
<!--  Vallapurapu, Shankar -->
<br/>
<br/>
<h2>New <%= title %></h2>
<br/>
<br/>
<form method="POST" action="/estimatePartMisc/save/">
<table class="table table-hover table-bordered">
    <tr><th>ID</th> <td> <input type="number" class="form-control" value="<%= newID %>" name="_id"  /></td></tr>
	<tr><th>Description</th> <td><input type="text" class="form-control" name="description" >  </input></td></tr>
	<tr><th>Cost $</th> <td><input type="number" class="form-control" name="cost" > </input></td></tr>
	<!-- <tr><th>Dollars Per Mile</th> <td><input type="text" value="<%= estimatePartMiscs.query[0].dollarsPerMile %>"> </input></td></tr> -->
	<tr><td colspan="2"> 
		<div class="row">
			<div class="col-md-2"> 
				<a href="/estimatePartMisc" class="btn btn-info" ><i class="glyphicon glyphicon-chevron-left"></i> Return to list</a>
			</div>
			<div class="col-md-5"> 
				
					<button type="submit"  class="btn btn-success pull-right" ><i class="glyphicon glyphicon-saved"></i> Create item</button>
				
			</div>
		</div>
		</td>
	</tr>
</table>
</form>