<!-- This model is managed by Team 5-11 --> 
<!--  Ravva, Shanmukha Manikantha Surya Vamsi -->
<!-- Avasarala, Venkata Bhardwaj -->
<!--  Vallapurapu, Shankar -->
<br/>
<h1>Details of <%= title %></h1>
<br/>
<table class="table table-hover" border="1">
	<thead>
		<th>Item ID : </th>
		<th> Description : </th>
		<th> Cost : </th>
	</thead>
	<tbody>
		<tr>
			<td> <%=  estimatePartMisc._id %> </td>
			<td> <%=  estimatePartMisc.description %></td>
			<td> $<%=  estimatePartMisc.cost %> </td>
		</tr>
	</tbody>
</table>
<br/>

	<a href="/estimatePartMisc" class="btn btn-info" >Return to list</a>
